<div id="Layer1" style="position: absolute; left: 137px; top: 4151px; width: 630px; height: 19px; z-index: 1">
    <div align="center"> | 
        <a href="../../">Home</a> | 
        <a href="http://xmlpipedb.cs.lmu.edu/" target="_blank">XMLPipeDB</a> | 
        <a href="../research/">Research</a> | 
        <a href="../courses/">Courses</a> | 
        <a href="../people/">People</a> |
    </div>
</div>
/
<div id="Layer2" style="position: absolute; left: 136px; top: 4170px; width: 630px; height: 19px; z-index: 2">
    <div align="center"> | 
        <a href="../publications/">Publications</a> | 
        <a href="../women/">Women In Science</a> | 
        <a href="../links/">Links</a> | 
        <a href="../contact/">Contact Us</a> |
    </div>
</div>
<div id="Layer3" style="position: absolute; left: 136px; top: 4190px; width: 630px; height: 19px; z-index: 3">
    <div align="center">
        <p> | 
            <a href="http://cse.lmu.edu/department/biology/" target="_blank">Biology Department</a> | 
            <a href="#Top">Top</a> |
        </p>
        <p>This web page is not an official Loyola Marymount University web page. Comments on this page should be directed to kdahlquist[at]lmu[dot]edu.</p>
    </div>
</div>