                    <ul>
                        <li>
                            <a href="index.htm"> Home </a>
                        </li>
                        <li>
                            <a href="http://cse.lmu.edu/department/biology/">Biology Department</a>
                        </li>
                        <li>
                            <a href="courses.htm">Courses</a>
                        </li>
                        <li>
                            <a href="people.htm">People</a>
                        </li>
                        <li>
                            <a href="publications.htm">Publications</a>
                        </li>
                        <li>
                            <a href="research.htm">Research</a>
                        </li>
                        <li>
                            <a href="http://kdahlquist.github.io/GRNmap/" target="_blank">GRNmap</a>
                        </li>
                        <li>
                            <a href="http://dondi.github.io/GRNsight/" target="_blank">GRNsight</a>
                        </li>
                        <li>
                            <a href="http://xmlpipedb.cs.lmu.edu" target="_blank">XMLPipeDB</a>
                        </li>
                        <li>
                            <a href="http://www.openwetware.org/wiki/Dahlquist" target="_blank">Wiki</a>
                        </li>
                        <li>
                            <a href="women.htm">Women in Science</a>
                        </li>
                        <li>
                            <a href="links.htm">Links</a>
                        </li>
                        <li>
                            <a href="contact.htm">Contact Us</a>
                        </li>
                    </ul>
