					<ul>
						<li>
							<a href="../"> Home </a>
						</li>
						<li>
							<a href="http://xmlpipedb.cs.lmu.edu" target="_blank"> XMLPipeDB </a>
						</li>
						<li>
							<a href="../research/">Research</a>
						</li>
						<li>
							<a href="../courses/">Courses</a>
						</li>
						<li>
							<a href="../people/">People</a>
						</li>
						<li>
							<a href="../publications/">Publications</a>
						</li>
						<li>
							<a href="../women/">Women in Science</a>
						</li>
						<li>
							<a href="http://cse.lmu.edu/department/biology/">Biology Department</a>
						</li>
						<li>
							<a href="../links/">Links</a>
						</li>
						<li>
							<a href="../contact/">Contact Us</a>
						</li>
					</ul>