<!DOCTYPE HTML>
<html>

    {% include head.html %}

    <body bgcolor="#FFFFFF" text="#000000" link="#0000FF" vlink="#660066" alink="#660066">

        <div class="header">
            {% include header.html %}
        </div>

        <div class="sidebar">
            {% include sidebar.html %}
        </div>
        
        <div class="content"> 
            {{ content }}
        </div>

        <div class="footer">
            {% include footer.html %}
        </div>

    {% include scripts.html %}

    </body>
    
</html>
